@{
    ViewData["Title"] = "Home Page";
}

<img class="w-100" src="~/images/banner.jpg" alt="" />

<h1 class="text-center">TennisClubManagement</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores deserunt dolor ducimus earum esse ex, ipsam maiores maxime minima necessitatibus nobis non quas quia, quis reprehenderit rerum ullam, unde.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores deserunt dolor ducimus earum esse ex, ipsam maiores maxime minima necessitatibus nobis non quas quia, quis reprehenderit rerum ullam, unde.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores deserunt dolor ducimus earum esse ex, ipsam maiores maxime minima necessitatibus nobis non quas quia, quis reprehenderit rerum ullam, unde.</p>

